.container
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        .board_title    
          = board.title
        .board_info
          %h4
            account: hyota.1190
          %h4
            board.created_at
      
        

